<!DOCTYPE html>
<!--[if IE 8]> <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->

<head>
	<meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lolwtfgif</title>
	<meta property="og:title" content="Lolwtfgif - fullscreen animated gifs"/>
	<meta property="og:site_name" content="lolwtfgif"/>
	<meta property="og:description" content="Giftastical."/>
    <link rel="stylesheet" href="css/normalize.css" />
    <link rel="stylesheet" href="css/app.css" />
    <link rel="stylesheet" href="css/glyphicons.css">
    <script src="js/vendor/custom.modernizr.js"></script>
</head>
<body>
	
	<div id="alert"></div>
	<div id="search"></div>
	<div id="error" class="empty"></div>
	<div id="gifs" class="empty"></div>
	<div id="loading" class="empty"></div>
	
	<script type="text/template" id="search-template">
		<a class="glyphicons search white"><i></i></a>
		<form>
			<input id="query" type="text" data-test="fadeInLeft" placeholder="Search a tag or enter a tumblr url.">
		</form>
	</script>
	
	<script type="text/template" id="gif-template">
			<div class="gif unloaded hide" id="<%= src %>">
				<% if (tags) { %>
					<% if (tags.length > 0) { %>
						<div class="tags">
							<% for (var i = 0; i < tags.length; i++) { %>
								<a href="#/<%= tags[i].toLowerCase() %>" class="label tag"><%= tags[i].toLowerCase() %></a>
							<% } %>
						</div>
					<% } %>
				<% } %>
				<img src="">
			</div>
	</script>
	
	<script type="text/template" id="alert-template">
		<div data-alert class="alert-box">
		  Keep clicking anywhere to see the next gif. Or use the &larr; and &rarr; arrow keys. 
		  <a href="#" class="close">&times;</a>
		</div>
	</script>
	
	<script type="text/template" id="error-template">
		<div class="text-container">
			<h1><%= title %></h1>
			<p><%= message %></p> 
		</div>
	</script>

	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="js/vendor/jquery.js"><\/script>')</script>

	<script src="js/vendor/underscore.js"></script>
	<script src="js/vendor/backbone.js"></script>
	<script src="js/foundation.min.js"></script>
	<script src="js/app.js"></script>
	<script src="js/plugins.js"></script>


	<script>
	$(document).foundation();
	</script>
	
	<script>
		var _gaq=[['_setAccount','UA-31269984-1'],['_trackPageview']];
		(function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
		g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
		s.parentNode.insertBefore(g,s)}(document,'script'));
	</script>

</body>
</html>
